:root {
    --global-width: 600px;
    --global-padding: 125px;
  
    --font-size__title: 26px;
    --font-size__sub-title: 20px;
    --font-size__main: 16px;
    --font-style__title: 'Roboto', 'Arial', sans-serif;
    --font-style__standard: 'Montserrat', 'Arial', sans-serif;

    --line-height: 1.3;
    --header-bottom-margin: 11px;

    --primary-color: #424254;
    --accent-color: #FFCD8D;
    --accent-color-1: #F8A83F;
    --dark-text: #212121;
    --secondary-dark-text: #757575;
    --light-text: #adadad;
    --bright-light-text: #e5e5e5;
    --secondary-light-text: #757575;
    --divider-color: #BDBDBD;
    --background-color-dark: #333333;
    --background-color: #03000e;
    --background-color-1: #D6D6D6;
    --background-color-2: #505050;
  
    --border-radius: 3px;
    --border-width: 1px;

    --avatar-size: 125px;

    --section-bottom-margin: 35px;
    --grid-gap: 13px;
  
    --transition-duration: 250ms;

    --experience-row-margin: 30px;
    --experience-description-margin: 10px;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background: var(--background-color);
    color: var(--light-text);
    font: var(--font-size__main) var(--font-style__standard);
    /* text-align: center; */
    line-height: var(--line-height);
}

.wrapper {
    padding: var(--global-padding) 0 var(--global-padding) 0;
}

.wrapper section:not(:last-child) {
    margin-bottom: var(--section-bottom-margin);
}

.global-width { 
    width: var(--global-width); 
}

/* Font */
h1 { 
    font: bold var(--font-size__title) var(--font-style__title);
    color: var(--bright-light-text);
    line-height: var(--line-height);
}
  
h2 {
    font: bold var(--font-size__sub-title) var(--font-style__standard);
    color: var(--bright-light-text);
    margin-bottom: var(--header-bottom-margin);
}

.emphasized {
    color: var(--accent-color) !important;
    display: inline-block;
    font-weight: bold;
}

.experience-title {
    color: var(--bright-light-text);
}

.experience-description {
    margin: var(--experience-description-margin) 0 var(--experience-description-margin) 0;
}

.experience-tech {
    color: var(--secondary-light-text);
}

.experiences .grid:not(:last-child) {
    margin: var(--experience-row-margin) 0 var(--experience-row-margin) 0;
}
/* Flex Layout */
.flex { 
    display: flex; 
}

.flex__column { 
    flex-direction: column; 
}

.flex__row { 
    flex-direction: row; 
}

.flex__center-full { 
    align-items: center;
    justify-content: center;
}

.flex__center-vertical {
    flex-direction: column;
    justify-content: center;
}

.flex__center-horizontal {
    align-items: center;
    flex-direction: column;
}

.flex__space-between {
    align-content: space-between;
    justify-content: space-between;
}

/* Grid Layout */
.grid {
    display: grid;
    grid-gap: var(--grid-gap);
    grid-template-columns: repeat(4, 1fr);
}

.grid__item-1 {
    grid-column: 1 / 2;
}

.grid__item-2-long {
    grid-column: 2 / 5;
}

.grid__vertical_center {
    justify-self: center;
}

.grid__horizontal_center {
    align-self: center;
}

/* Images */
.rounded-image {
    border-radius: 9999px;
}

.avatar {
    width: var(--avatar-size);
    height: var(--avatar-size);
}