:root {
    --global-width: 600px;
    --global-padding: 125px;
  
    --font-size__title: 26px;
    --font-size__sub-title: 20px;
    --font-size__main: 18px;
    --font-size__small: 16px;
    --font-style__title: 'Roboto', 'Arial', sans-serif;
    --font-style__standard: 'Montserrat', 'Arial', sans-serif;

    --line-height: 1.3;
    --header-bottom-margin: 18px;

    --primary-color: #424254;
    --accent-color: #FFCD8D;
    --accent-color-1: #F8A83F;
    --dark-text: #212121;
    --secondary-dark-text: #757575;
    --light-text: #bdbdbd;
    --bright-light-text: #e5e5e5;
    --secondary-light-text: #959595;
    --secondary-light-text-translucent: rgba(117, 117, 117, 0.2);
    --divider-color: #BDBDBD;
    --background-color-dark: #333333;
    --background-color: #050019;
    --background-color-1: #D6D6D6;
    --background-color-2: #1f2937;
  
    --border-radius: 3px;
    --border-width: 1px;

    --avatar-size: 125px;

    --section-bottom-margin: 45px;
    --grid-gap: 13px;

    --btn-group-separation: 10px;
    --big-button-width: 220px;
  
  
    --transition-duration: 250ms;
    --fadein-duration: 500ms;

    --experience-row-margin: 30px;
    --experience-description-margin: 10px;

    --btn-horizontal-padding: 25px;
  }

  @media screen and (max-width: 768px) {
    :root { --global-width: 525px; }
  }

  @media screen and (max-width: 650px) {
    :root { 
        --global-width: 480px; 
        --font-size__title: 20px;
        --font-size__sub-title: 18px;
        --font-size__main: 16px;
        --font-size__small: 14px;
        --avatar-size: 105px;
    }
  }
  
  @media screen and (max-width: 540px) {
    :root { 
        --global-width: 400px; 
        --font-size__title: 20px;
        --font-size__sub-title: 18px;
        --font-size__main: 16px;
        --font-size__small: 14px;
        --avatar-size: 85px;
        --btn-horizontal-padding: 15px;
    }
  }

  @media screen and (max-width: 460px) {
    :root { 
        --global-width: 400px; 
        --font-size__title: 18px;
        --font-size__sub-title: 16px;
        --font-size__main: 14px;
        --font-size__small: 12px;
    }
  }

  @media screen and (max-width: 430px) {
    :root { 
        --global-width: 300px;
        --btn-horizontal-padding: 10px;
    }
  }
  
  
  
  

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    animation: fadeIn var(--fadein-duration);
    background: var(--background-color);
    color: var(--light-text);
    font: var(--font-size__main) var(--font-style__standard);
    line-height: var(--line-height);
}

.wrapper {
    padding: var(--global-padding) 0 var(--global-padding) 0;
}

.wrapper section:not(:last-child) {
    margin-bottom: var(--section-bottom-margin);
}

.global-width { 
    width: var(--global-width); 
}

@keyframes fadeIn {
    from {
        opacity: 0.25;
    }

    to {
        opacity: 1;
    }
}

/* Font */
h1 { 
    font: bold var(--font-size__title) var(--font-style__title);
    color: var(--bright-light-text);
    line-height: var(--line-height);
}
  
h2 {
    font: bold var(--font-size__sub-title) var(--font-style__standard);
    color: var(--bright-light-text);
}

.section-title {
    margin-bottom: var(--header-bottom-margin);
}

.emphasized {
    color: var(--accent-color) !important;
    display: inline-block;
    font-weight: bold;
}

.experience-title {
    color: var(--bright-light-text);
    font: bold var(--font-size__main) var(--font-style__standard);
}

.experience-description {
    margin: var(--experience-description-margin) 0 var(--experience-description-margin) 0;
}

.experience-tech {
    color: var(--secondary-light-text);
    font-size: var(--font-size__small);
}

.experiences .grid:not(:last-child) {
    padding-bottom: var(--experience-row-margin);
}

.experience-link {
    text-decoration: none;
    color: inherit;
    -webkit-transition: color var(--transition-duration) ease-out;
    -moz-transition: color var(--transition-duration) ease-out;
    -o-transition: color var(--transition-duration) ease-out;
    transition: color var(--transition-duration) ease-out;
}

.experience-link:hover {
    color: var(--accent-color); 
}

.experience-list {
    list-style-position: inside;
    padding-left: 20px;
}

.experience-list > li {
    margin-bottom: var(--experience-description-margin);
}

.experience-list > li > span {
    margin-left: -1px;
}

.experience-project {
    background: var(--background-color-2);
    padding: 25px 25px;
    border-radius: 6px;
}

.contact-link {
    text-decoration: none;
    color: inherit;
    -webkit-transition: color var(--transition-duration) ease-out;
    -moz-transition: color var(--transition-duration) ease-out;
    -o-transition: color var(--transition-duration) ease-out;
    transition: color var(--transition-duration) ease-out;
}

.contact-link:hover {
    color: var(--accent-color); 
}

/* Flex Layout */
.flex { 
    display: flex; 
}

.flex__column { 
    flex-direction: column; 
}

.flex__row { 
    flex-direction: row; 
}

.flex__center-full { 
    align-items: center;
    justify-content: center;
}

.flex__center-vertical {
    flex-direction: column;
    justify-content: center;
}

.flex__center-horizontal {
    align-items: center;
    flex-direction: column;
}

.flex__space-between {
    align-content: space-between;
    justify-content: space-between;
}

/* Grid Layout */
.grid {
    display: grid;
    grid-gap: var(--grid-gap);
    grid-template-columns: repeat(4, 1fr);
}

.grid__item_full {
    grid-column: 1 / 5;
}

.grid__item-1 {
    grid-column: 1 / 2;
}

.grid__item-2-long {
    grid-column: 2 / 5;
}

.grid__vertical_center {
    justify-self: center;
}

.grid__horizontal_center {
    align-self: center;
}

/* Buttons */
.btn-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0;
}

.btn-group .btn:not(:last-of-type) {
    margin: 0 var(--btn-group-separation) 0 0;
}

.btn {
    background-color: inherit;
    border: var(--border-width) solid;
    border-radius: var(--border-radius);
    color: inherit;
    display: inline-block;
    padding: 3px var(--btn-horizontal-padding);
    text-align: center;
    text-decoration: none;
    /* text-transform: uppercase; */
    transition: background-color var(--transition-duration);
    user-select: none;
}
  
.btn:hover {
    border-color: var(--accent-color);
    transition: border-color var(--transition-duration);
}

.btn:active {
    background-color: var(--background-color-2);
    border-color: var(--background-color-2);
}
  

/* Images */
.rounded-image {
    border-radius: 9999px;
}

.avatar {
    width: var(--avatar-size);
    height: var(--avatar-size);
}

/* Timeline */

.timeline__date-box {
    border-left: 1px solid var(--secondary-light-text-translucent);
}

.timeline__bullet {
    background: var(--background-color);
    margin: -0px 3px 0px -5px;
    padding: 0px 0px 0px 2px;
}

.contact-entry {
    margin-bottom: var(--experience-description-margin);
}

.contact-entry:hover {
    color: var(--accent-color);
}


/* SVGs */
.svg-logo {
    display: inline-block;
    width: var(--font-size__main);
    height: var(--font-size__main);
    margin-right: 3px;
    margin-bottom: -3px;
    fill: white;
    filter: invert(100%) sepia(8%) saturate(234%) hue-rotate(245deg) brightness(116%) contrast(80%);
}

mail-svg {
    content: url("./images/svg/mail.svg");
}

linkedin-svg {
    content: url("./images/svg/linkedin.svg");
}

github-svg {
    content: url("./images/svg/github.svg");
}